<div class="container">
<%= render 'shared/errors', obj: @user %>
 
  <div class="row justify-content-center">
    <div class="col-10">
      <%= form_with(model: @user, class: "shadow p-3 bg-info rounded", local: true) do |f| %>
        <div class="mb-3">
          <%= f.label :username, class: "form-label text-light" %>
          <div class="col-10">
            <%= f.text_field :title, class: "form-control shadow rounded", placeholder: "Username" %>
          </div>
        </div>
         <div class="mb-3">
          <%= f.label :email, class: "form-label text-light" %>
          <div class="col-10"> 
            <%= f.email_field :email, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
          </div>
        </div>
        <div class="mb-3">
          <%= f.label :password, class: "form-label text-light" %>
          <div class="col-10"> 
            <%= f.password_field :description, rows: 10, class: "form-control shadow rounded", placeholder: "Description of article" %>
          </div>
        </div>
         <div class="m-3">
          <%= f.submit class: "btn btn-outline-light btn-lg" %>
        </div>
      <% end %>
    </div>
    <div class="m-3">
    <%= link_to '[ Cancel and return to articles listing ]', articles_path, class: "text-info" %>
    </div>
  </div>
</div> 
